.ce-block__content {
    position: relative;
    max-width: 95% !important;
    margin: 0 auto;
    -webkit-transition: background-color .15s ease;
    transition: background-color .15s ease;
    gap: 0px;
}
.ce-header{
    color: #54063a;
    font-size: xx-large; 
}
.ce-paragraph{
    /* font-size: 20px; */
    color: black;
    font-weight: 600;
}
.ce-paragraph a{
    text-decoration: underline;
    color: blue;
}
.cdx-list__item{
    font-weight: 500;
    /* font-size: 18px; */
    color: #454545;
}
.ce-toolbar__content {
    max-width: 88% !important;
    margin: 0 auto;
    position: relative;
}

.codex-editor__redactor {
    padding-bottom: 10px !important;
}

.editorJs {
    min-height: 80px;
    max-height: 100%;
    width: 100%;
}

/* .editorJs ul{
   list-style: disc!important;
}
.editorJs ol{
    list-style:decimal!important;
 }
 .editorJs li{
    text-align: left!important;
 } */
/* .cdx-list{
    padding-left: 20px!important;
 } */