@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c7e1ff;
}

/* Handle */
::-webkit-scrollbar-thumb {
 
  background: #ff6000;
  height: 30px;
  border-radius: 20px;
}

/* Handle on hover */


/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
.heroBannerCon {
  width: 745px;
  height: 420px;
  background-image: url("../../assets/img/HBanner.png");
  /* background-position: center; */
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  z-index: 3;
  background-color: white;
  margin: -20px;
}

.arrow.arrow-left {
  left: 0;
}

.arrow.arrow-right {
  right: 0;
}

.heroBannerCon .bannerTextCon {
  width: 442px;
  height: 267px;
  margin-left: 41px;
}

.heroBannerCon h2 {
  color: white;
  font-weight: 600;
  font-size: 33px;
  line-height: 50px;
  letter-spacing: 1px;
  font-family: poppins;
}

.heroBannerCon p {
  width: 378px;
  color: #DCDCDC;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  font-family: poppins;
}

.talkBtn {
  color: #FF6000;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  padding: 8px 16px;
  background-color: white;
  border-radius: 8px;
  border: none;
  font-family: poppins
}







/* home Hero Banner */
.heroSlider .swiper {
  width: 745px;
  height: 860px;
  border-radius: 16px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.heroSlider .swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background: #fff;

}

.heroSlider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.heroSlider .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 6px)) !important;
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 6px)) !important;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #B3AC9A) !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
}

.heroSlider .swiper-pagination-bullet-active {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px)) !important;
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px)) !important;
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #3C0008 !important;
}



/* product Details Slider */

.productDetails {
  height: 340px;
}

.productDetails .swiper {
  width: 95px;
  height: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.productDetails .swiper-slide-next .swiperSliderCOn {
  transform: scale(0.9) !important;
  opacity: 0.5 !important;
  transition: all 0.3s !important;
}

.productDetails .swiperSliderCOn .sliderTextBottom {
  opacity: 0;
}

.productDetails .swiper-slide-active .swiperSliderCOn .sliderTextBottom {
  opacity: 1;
}

.productDetails .swiper-pagination-fraction,
.productDetails .swiper-pagination-custom,
.productDetails .swiper-horizontal>.productDetails .swiper-pagination-bullets,
.productDetails .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: 212px !important;
  left: 0;
  width: 100%;
}

.productDetails .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color,
      #2A2F27) !important;
}

/* .productDetails .swiper-slide-active{
    transform: scale(1.15)!important;
    opacity:1!important;
    transition: all 0.3s!important;
   } */